extends layout

block style
    link(rel="stylesheet", href="/style/events.css")

block content
    div.row.justify-content-center.panel.content
        div.col-8
            h1 Events
            p Find all past and upcoming events of this COST action below.

    br

    table
        tr
        th Title
        th Date 
        
        each event in main[0].organises
            if event.url !== "/talks"
                tr
                td
                    if event.name 
                        if event.url !== "#"
                            a(href=`${event.url}`,target='_blank') #{event.name}
                        else 
                            span #{event.name}
                    else
                        | (Not yet announced)
                td  
                    - var slashIndex = event.start.indexOf('/');
                    = slashIndex !== -1 ? event.start.slice(0, slashIndex) : event.start


    div.row.justify-content-center
        div.col-8
            
            br
            br
            p Find other, relevant events below.
            br

    table
        tr
        th Title
        th Date 
        
        each event in main[0].endorses
            tr
            td
                if event.name 
                    if event.url !== "#"
                        a(href=`${event.url}`,target='_blank') #{event.name}
                    else 
                        span #{event.name}
                else
                    | (Not yet announced)
            td  
                - var slashIndex = event.start.indexOf('/');
                = slashIndex !== -1 ? event.start.slice(0, slashIndex) : event.start


        
